.container {
  max-width: 800px;
  margin: 0 auto;
 
}
p {
  margin: 6px 0;
}
.mainPart {
  display: flex;
  justify-content: space-around;
  /* min-width: 100vh; */
}
button{
  margin: 20px;
	padding: 5px 30px;
	background: green;
	color: azure;
}
